* { /* reiniciar ajustes */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.naveg{
    max-height: 80px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}

.vert{
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}

body {
    overflow-x: hidden;
    /*background: linear-gradient(0deg, #008F77, #080026) fixed;*/
    background: linear-gradient(0deg, #65573C, #0C162D) fixed;
    /*background: #080022;*/
    color: #ffffff;
    font-size: 16px;
    /*font-family: 'Oswald', sans-serif;*/
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
}

p{
    font-weight: 700;
}

h1{
    font-weight: 1000;
}

a { 
    color: #ffffff;
    text-decoration: none;
}

input{
    font-weight: 600;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: auto;
}

/* main SPACE */

.bg {
    /*background: radial-gradient(circle 350px, #110049, #080022);*/
    padding-bottom: 25px;
    height: 100vh;
    min-height: 650px;
}

.logo-brand img{
    font-size: 0px;
    width: 420px;
    position: absolute;
    left: 9%;
    top: 100px;
    z-index: -1;
    opacity: 0.1;
    /*clip-path: circle(125px at center);*/
}

.logo-brand-2 h1{
    font-size: 200px;
    width: 420px;
    position: absolute;
    left: 45%;
    top: 70vh;
    z-index: -1;
    opacity: 0.1;
}

.mian-space {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 100px ;
    z-index: 0;
}

.main-horizontal {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.main-text {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.main-title {
    width: 100%;
    text-align: left;
    font-size: 35px;
    margin-bottom: 25px;
    color: #9DF3D3;
}

.main-text p {
    width: 50%;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}

.vertical-line {
    display: flex;
    height: 20vh;
    flex-direction: column;
    border-left: solid 2px white;
    margin: 8px 0px 8px 7px;
    opacity: 0.4;
}

.circle-text {
    display: flex;
    flex-direction: row;
}

.circle-text i{
    margin: auto;
    opacity: 0.4;
}

.circle-text h3{
    margin: auto 0px auto 10px;
    margin-bottom: auto;
    font-size: 15px;
}

.circle-text h4{
    margin: auto 0px auto 10px;
    font-size: 12px;
    white-space: pre;
}

.fast-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;
    justify-content: left;
}

.fast-btn {
    margin: 0px;
    padding: 2px 2px;
    border-bottom: solid 2px white;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.fast-btn + .fast-btn {
    margin-left: 15px;
}

.fast-btn:hover {
    opacity: 0.85;
}

.fast-info {
    margin: 20px 20px 0px 45px;
    width: 150px;
    padding: 10px 15px;
    border: solid 2px white;
    border-radius: 5px;
    text-align: center;
    font-weight: 900;
}
.fast-info i {
    color: greenyellow;
}





/* ABOUT TEXT */

.about-text {
    font-size: 15px;
    font-weight: normal;
    padding-left: 50px;
    padding-top: 25px;
}

/* LOTTERY SPACE */

.white-part {
    background: white;
    color: #0A002C;
}

.white-part a {
    color: #0A002C;
}

.explain {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: auto;
    width: 90%;
}

.fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.explain i {
    font-size: 250px;
    transform: rotate(-45deg);
    padding: 25px 50px;
    margin: auto;
}

.text-explain {
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
}

.text-explain h1 {
    padding-bottom: 20px;
    font-size: 30px;
}

.text-explain p {
    font-size: 20px;
    padding-bottom: 25px;
    font-weight: 500;
}

.text-explain a {
    font-size: 20px;
}

.text-explain a:hover {
    opacity: 70%;
}

.percent-space {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.percent-number {
    text-align: right;
}

.percent-text {
    text-align: left;
}

.percent-text {
    padding-left: 20px;
    
}




/* ROAD MAP */

.timeline {
	width:80%;
	height: 20px;
	list-style: none;
	text-align: justify;
	margin: 100px auto;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, white 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}

.timeline:after {display: inline-block; content: ""; width: 100%;}

.timeline li {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: white;
	text-align: center;
	line-height: 1.2;
	position: relative;
	border-radius: 50%;
}

.timeline li:before {
	display: inline-block;
	content: attr(data-year);
	font-size: 26px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
	top: -40px;
}
.timeline li:nth-child(even):before {
	bottom: -40px;
}

.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 16px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -10px;
	transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
}


/* FOOT */

.foot{
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}



@media (max-width: 950px) {
    .main-line {
        display: none;
    }
    .fast-info {
        margin-top: 0px;
    }

    .explain {
        flex-direction: column;
    }

    .logo-brand-2 {
        display: none;
    }

    .main-title, .main-text p, .fast-buttons{
        text-align: center;
        align-content: center;
        justify-content: center;
        width: 100%;
    }
    .logo-brand img{
        left: calc(50vw - 210px);
    }
}
