* { /* reiniciar ajustes */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    position: relative;
}

body {
    /*background: linear-gradient(0deg, #0A2542, #0C162D) fixed;*/
    background: #23252E;
    color: #ffffff;
    font-size: 1rem;
    /*font-family: 'Oswald', sans-serif;*/
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
}

p{
    font-weight: 700;
}

h1{
    font-weight: 1000;
}

a { 
    color: #ffffff;
    text-decoration: none;
}

input{
    font-weight: 600;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: auto;
}

/* GENERAL */

.marg{
    margin-left: 8%;
    margin-right: 8%;
}
.marg_2{
    margin-left: 12%;
    margin-right: 12%;
}
.white-part {
    background: white;
    color: #0A002C;
    padding: 2.5rem 0rem;
}
.white-part a {
    color: #0A002C;
}
.subtit{
    font-size: 2.5rem;
    padding-bottom: 1.875rem;
    margin-top: 50px;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in.appear {
    opacity: 1;
}


/* NAVEGATION */

.naveg{
    position: fixed;
    max-height: 5rem;
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
    background: #23252E;

    z-index: 10;
}


/* main SPACE */

.bg {
    /*background: radial-gradient(circle 21.875rem, #110049, #080022);*/
    padding-bottom: 1.5625rem;
    height: 100vh;
    min-height: 46.875rem;
    position: relative;
}

.logo-brand h1{
    font-size: 12.5rem;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 34%;
    z-index: -1;
    opacity: 0.9;
    text-shadow: 0 0 2.5rem #2e79de;
    color: transparent;
}

.main-space {
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.main-horizontal {
    position: absolute;
    top: 25vh;
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-right: 8%;
}

.main-text {
    justify-content: center;
    align-items: center;
}

.main-title {
    text-align: left;
    font-size: 1.875rem;
    margin-bottom: 1.5625rem;
    color: #ffffff;
}

.main-text p {
    text-align: left;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: justify;
    width: 75%;
}

.brand {
    margin: auto;
}

.brand img{
    width: 17.1875rem;
    margin-left: 1.25rem;
    opacity: 0.8;
}

.fast-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 1.875rem;
    justify-content: left;
}

.fast-btn {
    margin: 0rem;
    padding: 0.125rem 0.125rem;
    border-bottom: solid 0.125rem white;
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
}

.fast-btn + .fast-btn {
    margin-left: 0.9375rem;
}

.fast-btn:hover {
    opacity: 0.85;
}

.platform-btn{
    margin-left: 0;
    margin-right: auto;
    margin-top: 50px;
}

.platform-btn a{
    font-size: 1rem;
    padding: 15px 25px;
    border-radius: 62500rem;
    transition: all 0.5s ease;
    background: #048DF5;
}
.platform-btn a:hover{
    background: #ffffff;
    color: #000000;
}

.fast-info-box{
    position: absolute;
    top: 0;
    height: 100%;
    min-height: 46.875rem;
    z-index: -1;
}

.fast-info {
    /*margin: 0.9375rem 1.25rem auto 2.8125rem;*/
    position: absolute;
    bottom: 3.125rem;
    left: 3.125rem;
    padding: 1.125rem 1.25rem;
    border-radius: 0.9375rem;
    text-align: center;
    background: #2b2e3c;
}
.fast-info p {
    font-weight: 400;
    font-size: 1.25rem;
    white-space: nowrap;
}
.fast-info i {
    color: greenyellow;
}

/* TECH */

.dark-part {
    /*background: linear-gradient(0deg, #0A2542, #0C162D);*/
    padding: 2.5rem 0rem;
}

.tech-title a {
    font-size: 0.875rem;
    padding: 10px 25px;
    border-radius: 62500rem;
    transition: all 0.5s ease;
    background: #048DF5;
}
.tech-title a:hover{
    background: #ffffff;
    color: #000000;
}

.tech-horizontal {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
}

.tech-decoration {
    margin: auto;
    position: relative;
}
.tech-decoration-text h1{
    font-size: 2.8125rem;
    padding-bottom: 1.25rem;
    font-weight: 900;
    white-space: nowrap;
}
.tech-decoration-text h2{
    font-size: 1.75rem;
    padding-bottom: 0.9375rem;
    font-weight: 700;
    white-space: nowrap;
}
.tech-decoration-text h3{
    font-size: 1.125rem;
    font-weight: 400;
    white-space: nowrap;
}
.tech-decoration img {
    position: absolute;
    top: 1.25rem;
    left: 3.125rem;
    height: 20.3125rem;
    z-index: -1;
}

.tech-cards {
    display: flex;
    flex-direction: column;
}

.cards-row {
    display: flex;
    flex-direction: row;
}

.tech-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #2b2e3c;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0);
    padding: 1.875rem 1.5625rem;
    margin: 1.25rem 2.5rem 1.25rem 0rem;
    border-radius: 1.5625rem;
    width: 14.0625rem;
}

.tech-card:hover {
    box-shadow: 0 0rem 0.5rem 0 rgba(0, 255, 255, 0.7), 0 0rem 1.25rem 0 rgba(0, 255, 255, 0.4);
}

.tech-card i {
    background: white;
    color: black;
    padding: 0.625rem;
    font-size: 1.875rem;
    margin: 0 auto auto 0;
    border-radius: 6250rem;
    margin-bottom: 1.5625rem;
}

.tech-card h2 {
    margin-bottom: 0.9375rem;
    font-size: 0.9375rem;
}

.tech-card p {
    width: 95%;
    font-size: 0.875rem;
    text-align: justify;
    font-weight: 200;
}

/* BANNER */

.banner-part {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
.banner-text h1{
    font-size: 2.8125rem;
    padding-bottom: 1.25rem;
    font-weight: 900;
    white-space: nowrap;
}
.banner-text h2{
    font-size: 1.75rem;
    padding-bottom: 0.9375rem;
    font-weight: 700;
}
.banner-text h3{
    font-size: 18px;
    font-weight: 400;
    /*white-space: nowrap;*/
    text-align: justify;
    width: 90%;
}
.banner-text a {
    font-size: 0.875rem;
    padding: 0.625rem 1.5625rem;
    border-radius: 62500rem;
    transition: all 0.5s ease;
    background: #048DF5;
    margin-right: auto;
    margin-top: 25px;
}
.banner-text a:hover{
    background: #ffffff;
    color: #000000;
}


.banner-decoration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.banner-decoration img {
    width: 140px;
}
.banner-decoration i {
    font-size: 80px;
    margin: 25px 0;
}
.banner-decoration h1 {
    text-align: center;
}

/* VERTICAL */

.vert{
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}


/* PARTITION */

.partition-space {
    margin-bottom: 50px;
}

.partition-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pie {
    height: 15.625rem;
    margin: auto;
    clip-path: circle(7.8125rem at center);
}

.partition-info {
    display: flex;
    flex-direction: column;
}

.partition-text-box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #2b2e3c;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0);
    padding: 1.875rem 1.5625rem;
    margin: 1.25rem 2.5rem 1.25rem 0rem;
    border-radius: 1.5625rem;
}
.partition-info a {
    font-size: 0.875rem;
    padding: 0.625rem 1.5625rem;
    border-radius: 62500rem;
    transition: all 0.5s ease;
    background: #048DF5;
    margin-right: auto;
}
.partition-info a:hover{
    background: #ffffff;
    color: #000000;
}
.partition-legend{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}
.partition-legend h1{
    margin: 50px 10px 0 50px;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}
.partition-legend-team i{
    color: #FE6B00;
}
.partition-legend-reserves i{
    color: #05B0A6;
}
.partition-legend-airdrop i{
    color: #FE0000;
}
.partition-legend-market i{
    color: #0068B4;
}
.partition-legend-advisors i{
    color: #FE00A8;
}


/* ROAD MAP */

.roadmap-cards-horizontal {
    display: flex;
    flex-direction: row;
}

.roadmap-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #2b2e3c;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0);
    padding: 1.5625rem 1.5625rem;
    margin: 1.25rem 0rem 1.25rem 0rem;
    border-radius: 1.5625rem;
    width: 100%;
}
.roadmap-card:hover {
    box-shadow: 0 0rem 0.5rem 0 rgba(0, 255, 255, 0.7), 0 0rem 1.25rem 0 rgba(0, 255, 255, 0.4);
}
.roadmap-card + .roadmap-card {
    margin-left: 2.5rem;
}
.roadmap-card h1 {
    font-weight: 600;
    margin-bottom: 1.25rem;
}
.roadmap-card h2 {
    font-size: 18px;
    font-weight: 600;
}
.roadmap-card i {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 1.25rem;
}


/* PARTNERS */

.partners-cards-horizontal {
    display: flex;
    flex-direction: row;
}

.partners-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #2b2e3c;
    padding: 1.5625rem 1.5625rem;
    margin: 1.25rem 0rem 1.25rem 0rem;
    border-radius: 1.5625rem;
    width: 100%;
}
.partners-card + .partners-card {
    margin-left: 2.5rem;
}

.partners-card h1 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    text-align: center;
}

/* FOOT */

.foot{
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}



@media (max-width: 950px) {

    .main-horizontal {
        position: relative;
        top: 12vh;
    }

    .brand {
        display: none;
    }
    .logo-brand h1{
        font-size: 10rem;
        text-shadow: 0 0 1.875rem #2e79de;
    }

    .main-title, .main-text p, .fast-buttons{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        align-content: center;
        justify-content: center;
    }   
    .main-title {
        font-size: 1.375rem;
    }
    .main-text p {
        font-size: 1rem;
    }

    .fast-buttons{
        padding: 0;
        margin: 0;
    }
    .fast-btn {
        padding-top: 1.25rem;
        font-size: 0.9375rem;
    }

    .fast-info {
        bottom: 1.5625rem;
        left: 1.5625rem;
        padding: 0.75rem 1rem;
        border-radius: 0.625rem;
        text-align: center;
        background: #2b2e3c;
    }
    .fast-info p{
        font-size: 0.8125rem;
    }

    /* TECH */

    .tech-decoration {
        display: none;
    }
}

@media (max-width: 620px) {

    /* TECH */

    .cards-row {
        display: flex;
        flex-direction: column;
    }

    .tech-cards {
        margin: auto;
    }
    .tech-card {
        margin-left: 0;
        margin-right: 0;
    }
}