* { /* reiniciar ajustes */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.naveg{
    max-height: 5rem;
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}

.vert{
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}

body {
    overflow-x: hidden;
    /*background: linear-gradient(0deg, #008F77, #080026) fixed;*/
    /*background: linear-gradient(0deg, #65573C, #0C162D) fixed;*/
    background: linear-gradient(0deg, #0A2542, #0C162D) fixed;
    /*background: #080022;*/
    color: #ffffff;
    font-size: 1rem;
    /*font-family: 'Oswald', sans-serif;*/
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
}

.subtit{
    font-size: 2rem;
    padding-bottom: 1.875rem;
}

p{
    font-weight: 700;
}

h1{
    font-weight: 1000;
}

a { 
    color: #ffffff;
    text-decoration: none;
}

input{
    font-weight: 600;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: auto;
}

/* main SPACE */

.bg {
    /*background: radial-gradient(circle 21.875rem, #110049, #080022);*/
    padding-bottom: 1.5625rem;
    height: 100vh;
    min-height: 40.625rem;
}

.logo-brand img{
    font-size: 0rem;
    width: 26.25rem;
    position: absolute;
    left: 12%;
    top: 6.25rem;
    z-index: -1;
    opacity: 0.1;
    /*clip-path: circle(7.8125rem at center);*/
}

.logo-brand-2 h1{
    font-size: 12.5rem;
    width: 26.25rem;
    position: absolute;
    left: 45%;
    top: 70vh;
    z-index: -1;
    opacity: 0.1;
}

.mian-space {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 0rem 0rem 6.25rem ;
    z-index: 0;

}

.main-horizontal {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.main-text {
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 3.125rem;
}

.main-title {
    width: 100%;
    text-align: left;
    font-size: 2.1875rem;
    margin-bottom: 1.5625rem;
    color: #9DF3D3;
}

.main-text p {
    width: 50%;
    text-align: left;
    font-size: 1.125rem;
    font-weight: 300;
    text-align: justify;
}

.vertical-line {
    display: flex;
    height: 20vh;
    flex-direction: column;
    border-left: solid 0.125rem white;
    margin: 0.5rem 0rem 0.5rem 0.4375rem;
    opacity: 0.4;
}

.circle-text {
    display: flex;
    flex-direction: row;
}

.circle-text i{
    margin: auto;
    opacity: 0.4;
}

.circle-text h3{
    margin: auto 0rem auto 0.625rem;
    margin-bottom: auto;
    font-size: 0.9375rem;
}

.circle-text h4{
    margin: auto 0rem auto 0.625rem;
    font-size: 0.75rem;
    white-space: pre;
}

.fast-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 1.875rem;
    padding-bottom: 6.25rem;
    justify-content: left;
    margin-left: 3.125rem;

}

.fast-btn {
    margin: 0rem;
    padding: 0.125rem 0.125rem;
    border-bottom: solid 0.125rem white;
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;
}

.fast-btn + .fast-btn {
    margin-left: 0.9375rem;
}

.fast-btn:hover {
    opacity: 0.85;
}

.fast-info-box{
    position: absolute;
    top: 0;
    height: 100%;
    min-height: 40.625rem;
    width: 31.25rem;
    z-index: -1;
}

.fast-info {
    /*margin: 0.9375rem 1.25rem auto 2.8125rem;*/
    position: absolute;
    bottom: 3.125rem;
    left: 3.125rem;
    width: 9.375rem;
    padding: 0.625rem 0.9375rem;
    border: solid 0.125rem white;
    border-radius: 0.3125rem;
    text-align: center;
    font-weight: 900;
}
.fast-info i {
    color: greenyellow;
}


/* HOW TO USE */

.howto-part {
    width: 100%;
    margin: auto;
    padding: 0rem 0rem 0.625rem 0rem;
}

.howto-steps {
    display: flex;
    flex-direction: row;
}

.howto-step {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.howto-step i{
    font-size: 7.8125rem;
    padding: 3.75rem 0rem 3.75rem 0rem;
    background: -webkit-linear-gradient(#144b85, #0C162D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.howto-step h2{
    font-size: 1.125rem;
    font-weight: 500;
}

.howto-step h3{
    font-size: 0.875rem;
    font-weight: 200;
}

/* TECH */

.dark-part {
    /*background: linear-gradient(0deg, #0A2542, #0C162D);*/
    padding: 2.5rem 0rem;
}

.tech-part {
    width: 100%;
    margin: auto;
}

.tech-title {
    margin: auto;
}

.tech-title a {
    font-size: 0.875rem;
    background: #048DF5;
    padding: 0.625rem 1.5625rem;
    border-radius: 62500rem;
}

.tech-horizontal {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
}

.tech-horizontal img {
    height: 15.625rem;
    width: 15.625rem;
    margin: auto;
}

.tech-cards {
    display: flex;
    flex-direction: column;
}

.cards-row {
    display: flex;
    flex-direction: row;
}

.tech-card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #0e1c3b;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    padding: 1.875rem 1.5625rem;
    margin: 1.25rem 2.5rem 1.25rem 0rem;
    border-radius: 1.5625rem;
    width: 14.0625rem;
}

.tech-card i {
    background: white;
    color: black;
    padding: 0.625rem;
    font-size: 1.875rem;
    margin: auto auto auto 0;
    border-radius: 6250rem;
    margin-bottom: 1.5625rem;
}

.tech-card h2 {
    margin-bottom: 0.9375rem;
    font-size: 0.9375rem;
}

.tech-card p {
    width: 95%;
    font-size: 0.875rem;
    text-align: justify;
    font-weight: 200;
}


/* ABOUT TEXT */

.about-text h1{
    /*margin-left: 6.25rem;*/
}

/* LOTTERY SPACE */

.white-part {
    background: white;
    color: #0A002C;
    padding: 2.5rem 0rem;
}

.white-part a {
    color: #0A002C;
}

.explain {
    display: flex;
    flex-direction: row;
    padding: 3.125rem 0;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: auto;
    width: 100%;
}

.fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.explain i {
    font-size: 15.625rem;
    margin: auto;
}

.text-explain {
    justify-content: center;
    width: 50%;
}

.text-explain h1 {
    padding-bottom: 1.25rem;
    font-size: 1.875rem;
}

.text-explain p {
    font-size: 1.25rem;
    padding-bottom: 1.5625rem;
    font-weight: 500;
}

.text-explain a {
    font-size: 1.25rem;
}

.text-explain a:hover {
    opacity: 70%;
}

.percent-space {
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
}

.percent-number {
    text-align: right;
}

.percent-text {
    text-align: left;
}

.percent-text {
    padding-left: 1.25rem;
    
}




/* ROAD MAP */

.timeline {
	width: 90%;
	height: 1.25rem;
	list-style: none;
	text-align: justify;
	margin: 6.25rem auto;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgba(191,128,11,1)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, white 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}

.timeline:after {display: inline-block; content: ""; width: 100%;}

.timeline li {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	background: white;
	text-align: center;
	line-height: 1.2;
	position: relative;
	border-radius: 50%;
}

.timeline li:before {
	display: inline-block;
	content: attr(data-year);
	font-size: 1.625rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
	top: -2.5rem;
}
.timeline li:nth-child(even):before {
	bottom: -2.5rem;
}

.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 1rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
	bottom: 0;
	margin-bottom: -0.625rem;
	transform: translate(-50%, 100%);
}
.timeline li:nth-child(even):after {
	top: 0;
	margin-top: -0.625rem;
	transform: translate(-50%, -100%);
}


/* FOOT */

.foot{
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}



@media (max-width: 59.375rem) {

    *{
        width: 100%;
    }

    .main-line {
        display: none;
    }
    .fast-info {
        margin-top: 0rem;
    }

    .explain {
        flex-direction: column;
    }

    .main-text {
        padding: 0;
        margin: 0rem;
    }

    .fast-buttons{
        padding: 0;
        margin: 0;
    }

    .fast-info-box {
        width: 100%;
    }

    .logo-brand-2 {
        display: none;
    }

    .main-title, .main-text p, .fast-buttons{
        text-align: center;
        align-content: center;
        justify-content: center;
        width: 100%;
    }
    .logo-brand img{
        left: calc(50vw - 13.125rem);
    }

    .main-title {
        font-size: 1.75rem;

    }
    
    .main-text p {
        font-size: 0.75rem;
    }

    /* HOW TO USE */

    .howto-steps {
        display: flex;
        flex-direction: column;
    }

    .howto-step {
        width: 100%;
        margin-bottom: 1.5625rem;
    }

    /* TECH */

    .cards-row {
        display: flex;
        flex-direction: column;
    }

    .tech-cards {
        margin: auto;
    }

    .tech-horizontal img {
        display: none;
    }
}
