* { /* reiniciar ajustes */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.naveg{
    max-height: 5rem;
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}

body {
    background: #28242c;
    color: #ffffff;
    font-size: 1rem;
    /*font-family: 'Oswald', sans-serif;*/
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
}

p{
    font-weight: 700;
}

h1{
    font-weight: 1000;
}

a { 
    color: #ffffff;
    text-decoration: none;
}

input{
    font-weight: 600;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: auto;
}

/* GENERAL */

.marg{
    margin-left: 8%;
    margin-right: 8%;
}

/* main SPACE */

.bg {
    /*background: radial-gradient(circle 21.875rem, #110049, #080022);*/
    padding-bottom: 1.5625rem;
    height: 100vh;
    min-height: 40.625rem;
}

.platform-cards-horizontal {
    display: flex;
    flex-direction: row;
}

.platform-card {
    background-color: #302c3c;
    padding: 25px;
    border-radius: 15px;
    margin: 10px;
    height: auto;
}
.platform-card i{
    font-size: 50px;
    z-index: 1;
    background: -webkit-linear-gradient(left, #048DF5, rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.platform-card h1{
    font-weight: 800;
    padding: 25px 0 15px 0;
}
.platform-card h2{
    font-weight: 500;
    font-size: 15px;
}


/* FOOT */

.foot{
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}



@media (max-width: 59.375rem) {
    .slogan {
        display: none;
    }
    .no-slogan {
        display: none;
    }

    .compra-tiquet {
        margin-bottom: 1.25rem;
    }

}
