* { /* reiniciar ajustes */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.naveg{
    position: fixed;
    max-height: 5rem;
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: #23252E;
    z-index: 10;
}

body {
    background: #23252E;
    color: #ffffff;
    font-size: 1rem;
    /*font-family: 'Oswald', sans-serif;*/
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
}

p{
    font-weight: 700;
}

h1{
    font-weight: 1000;
}

a { 
    color: #ffffff;
    text-decoration: none;
}

input{
    font-weight: 600;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: auto;
}

/* GENERAL */

.marg{
    margin-left: 8%;
    margin-right: 8%;
}

/* main SPACE */

.bg {
    /*background: radial-gradient(circle 21.875rem, #110049, #080022);*/
    padding-bottom: 1.5625rem;
    /*height: 100vh;*/
    min-height: 40.625rem;
}

.platform-cards {
    padding-top: 150px;
}

.platform-cards-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.platform-card {
    background-color: #2B2E3C;
    padding: 25px;
    border-radius: 0px;
    margin: 15px;
    width: 25vw;
    height: 90%;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0);
}
.platform-card:hover{
    position: relative;
    background-color: rgba(0, 0, 0, 0.206);
}
.platform-card:hover i {
    background: transparent;
}
.platform-card:hover h1 {
    color: transparent;
}
.platform-card:hover h2 {
    color: transparent;
}
.platform-card:hover h3 {
    display: block;
}
.platform-card h3 {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 40px;
    display: none;
}

.platform-card i{
    font-size: 50px;
    color: #048DF5;
    background: -webkit-linear-gradient(right, #048DF5, #005da5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.platform-card h1{
    font-weight: 800;
    padding: 25px 0 15px 0;
}
.platform-card h2{
    font-weight: 500;
    font-size: 15px;
}


/* FOOT */

.foot{
    width: 100%;
    margin: 0;
    padding: 0;
    border-style: none;
}



@media (max-width: 59.375rem) {
    .slogan {
        display: none;
    }
    .no-slogan {
        display: none;
    }
    .compra-tiquet {
        margin-bottom: 1.25rem;
    }

}
