body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body > h1 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2em;
    color: #673AB7;
    position: relative;
    margin-top: 2.5rem;
    padding-bottom: 0.9375rem;
    font-weight: 300;
}
body > h1::after {
    content: "";
    height: 0.125rem;
    background-color: rgba(103, 58, 183, 0.2);
    width: 10rem;
    left: 50%;
    bottom: -1.125rem;
    transform: translateX(-50%);
    position: absolute;
}
body > h1::before {
    content: "›";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #DC22FF;
    left: 50%;
    margin-left: -0.5rem;
    transform: rotate(90deg);
    box-shadow: 0 0 0 0.25rem rgba(103, 58, 183, 0.2);
    bottom: -1.5625rem;
    font-size: 0.7em;
    text-indent: 0rem;
    color: #fff;
    line-height: 0.75rem;
    z-index: 9;
}
.timeline {
    padding: 0rem 0%;
    max-width: 81.25rem;
    margin: 0 auto;
}
.timeline > .timeline-item {
    display: flex;
    align-items: flex-start;
}
.timeline > .timeline-item > div {
    flex: 1;
    padding: 0rem 2.5rem;
}
.timeline > .timeline-item > div:last-child {
    text-align: left;
    padding-bottom: 0rem !important;
}
.timeline > .timeline-item > div:first-child::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ffffff;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 1);
    margin-top: 1.375rem;
}
.timeline > .timeline-item:nth-child(odd) > div:first-child {
    text-align: right;
    position: relative;
}
.timeline > .timeline-item:nth-child(odd) > div:first-child::after {
    right: -1.0625rem;
}
.timeline > .timeline-item:nth-child(odd) > div:last-child {
    text-align: left;
    border-left: 0.125rem solid #e0e0e0;
}
.timeline > .timeline-item:nth-child(odd) > .timeline-date > div {
    margin-right: 0rem;
}
.timeline > .timeline-item:nth-child(odd) > .timeline-date > img {
    right: 11%;
    left: inherit;
}
.timeline > .timeline-item:nth-child(odd) > .timeline-content > h2 {
    text-align: left !important;
}
.timeline > .timeline-item:nth-child(odd) > .timeline-content > p > img {
    right: 0;
}
.timeline > .timeline-item:nth-child(even) > div:first-child {
    order: 2;
    text-align: left;
    position: relative;
}
.timeline > .timeline-item:nth-child(even) > div:first-child::after {
    left: -0.0625rem;
}
.timeline > .timeline-item:nth-child(even) > div:last-child {
    order: 1;
    text-align: right;
    border-right: 0.125rem solid #e0e0e0;
}
.timeline > .timeline-item:nth-child(even) > .timeline-date > div {
    margin-left: 0rem;
}
.timeline > .timeline-item:nth-child(even) > .timeline-date > img {
    left: 11%;
    right: inherit;
}
.timeline > .timeline-item:nth-child(even) > .timeline-content > h2 {
    text-align: right !important;
}
.timeline > .timeline-item:nth-child(even) > .timeline-content > p > img {
    right: inherit;
    left: 0;
    transform-origin: bottom left;
}
.timeline > .timeline-item:nth-child(even) > .timeline-content > p > a {
    left: inherit;
    right: 0.9375rem;
}
.timeline > .timeline-item .timeline-date {
    position: relative;
}
.timeline > .timeline-item .timeline-date > img {
    display: none;

    position: absolute;
    filter: grayscale(100%);
    opacity: 0.06;
    transform: scale(1.2);
    transform-origin: center;
    left: 11%;
}
.timeline > .timeline-item .timeline-date > div {
    background-image: linear-gradient(to right, #673ab7, #813bcb, #9e38de, #bc32ef, #dc22ff);
    box-shadow: 0 0.625rem 0.9375rem rgba(103, 58, 183, 0.3);
    border-radius: 3.125rem;
    color: #ffffff;
    text-align: center;
    max-width: max-content;
    margin: auto;
    padding: 0.625rem 1.875rem;
}
.timeline > .timeline-item .timeline-content .fa-icon {
    font-size: 5rem;
}
.timeline > .timeline-item .timeline-content > h2 {
    color: #ffffff;
    margin: 0rem;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0.4375rem;

}
.timeline > .timeline-item .timeline-content > h2 span {
    color: #DC22FF;
    font-weight: bold;
    font-size: 0.6em;
    letter-spacing: 0.125rem;
    margin-left: 0.3125rem;
}
.timeline > .timeline-item .timeline-content > p {
    font-size: 0.9em;
    padding: 1.25rem;
    background: #2b2e3b;
    border-radius: 0.625rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.08);
    position: relative;
    line-height: 1.5625rem;
    padding-bottom: 60px;
    min-height: 6.25rem;
    text-align: justify;
}

.timeline > .timeline-item .timeline-content > p > img {
    display: none;

    width: 6.25rem;
    opacity: 0.05;
    position: absolute;
    right: 0;
    bottom: 0;
    transform-origin: bottom right;
    transform: scale(1.8);
}
.timeline > .timeline-item .timeline-content > p > a {
    background: no-repeat;
    outline: none;
    text-decoration:none;
    color: #ffffff;
    border: none;
    padding: 2px 10px;
    position: absolute;
    bottom: 0.9375rem;
    border-radius: 1.875rem;
    left: 0.9375rem;
    box-shadow: 0 0rem 0.125rem rgba(103, 58, 183, 0.1);
    cursor: pointer;
    letter-spacing: 0.0625rem;
    font-size: 0.9em;
    font-weight: normal;
    transition: all 0.5s ease;
}
.timeline > .timeline-item .timeline-content > p > a:hover {
    background: #ffffff;
    box-shadow: 0 0.3125rem 0.625rem rgba(103, 58, 183, 0.1);
    color: #000000;
}
@media (max-width: 50rem) {
    .timeline > .timeline-item {
    flex-direction: column;
    border-left: 0.125rem solid #e0e0e0;
    }
    .timeline > .timeline-item .timeline-date > img {
    display: none;
    }
    .timeline > .timeline-item > div {
    border-width: 0rem !important;
    text-align: left !important;
    order: unset !important;
    }
    .timeline > .timeline-item > div::after {
    left: 0% !important;
    }
    .timeline > .timeline-item:nth-child(odd) > .timeline-content > h2 {
    text-align: left !important;
    }
    .timeline > .timeline-item:nth-child(even) > .timeline-content > h2 {
    text-align: left !important;
    }
    .timeline > .timeline-item:nth-child(even) > .timeline-content > p > img {
    right: 0;
    left: inherit;
    transform-origin: bottom right;
    }
    .timeline > .timeline-item:nth-child(even) > .timeline-content > p > a {
    left: 0.9375rem;
    right: inherit;
    }
}